#dashboard{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	height: 500px;

	h1{
		width: 100%; 
		font-weight: 100;
		text-align: center;
		margin-bottom: 10px;
	}

	p{
		opacity: 0.7;
		font-weight: 300;
	}
}